* {
	box-sizing: border-box;
}
html, body {
	width:100%;
    height:100%;
    text-align: center;
}
body {
	font-family: 'Montserrat', sans-serif;
}
/* Scroll Snap */
.holster {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-flow: column nowrap;
    min-height: 99vh;
    background-image: url('../wedding-img/banner.png');
    background-size: cover;
    background-repeat: repeat-y;
}

.container {
	display: flex;
	overflow: auto;
	flex: none;
}

.container.y {
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;
}
/* scroll-snap */
.y.mandatory-scroll-snapping {
	scroll-snap-type: y mandatory;
}
.container > div {
	text-align: center;
	scroll-snap-align: center;
	flex: none;
	font-family: 'Thasadith', sans-serif;
}
.y.container > div {
	width: 100vw;
	height: 100%;
} 

/* end Scroll Snap */

a  {
    text-decoration: none;
    color: black;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: underline;
}
.main-col {
    display: flex;
	flex-direction: column;
    justify-content: center; 
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0);  
}

#nav {
    text-align: right;
}
footer {
	color: grey;
    font-size: 0.8em;
    text-align: left;
}
#mainTitle {
    font-family: 'Great Vibes', cursive;
	font-size: 7em;
	margin: auto;
	padding-top: 1px;
}
#nav-bar {
    background-color: #F7ACCF;
}
#banner {
    width: 100%;
    /* height: 80%; */
}
#mainPhoto {
    width: 70%;
    border-radius: 2%;
    margin: auto;
}
#calendar {
    width: 70%;
    margin: auto;
}
#rings {
    width: 20%;
    margin: auto;
}
h2 {
	font-size: 2.5em;
}
h4 {
	font-size: 2em;
}
ul {
	list-style: none;
	text-align: center;
	padding-inline-start: 0;
}
ul li {
    display: inline;
    padding-left: 2vw;
}
.social{
	padding-top: 2vh;
	font-size: 1.5em;
	text-align: center;
	margin-right: 2vw;
	margin-left: 2vw;
}
#map {
    width: 70%;
    height: 50vh;
	background-color: #C4D7F2;
  }
.smaller {
	font-size: 0.6em;
}

  @media only screen and (max-width: 750px) {
	#mainTitle {
		font-size: 3.5em;
	} 
	h2 {
		font-size: 1.7em;
	} 
	h4 {
		font-size: 1.2em;
    } 

}

@media only screen and (max-width: 1023px) and (orientation: portrait){
	#mainPhoto {
		width: 50%;
	}
	#map, #calendar {
		width: 70%;
	}	
	#map {
		height: 45vh;
		margin-left: 15%;
	} 
	.small-col {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    .small-col-rev {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center; 
	}
	.no-top-margin {
		margin-top: 0;
	}
	.no-bottom-margin {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 1023px) and (orientation: landscape) {
	.big-row {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.big-row > * {
		flex: 1 100%;
	}
}

@media only screen and (min-width: 1023px) {
	.big-row {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.big-row > * {
		flex: 1 100%;
	}
	#map {
		margin-left: 10vw;
	}
}